pyroaddon
pyrogram>=2.0.106
tgcrypto
motor
dnspython
heroku3
requests
aiohttp
beautifulsoup4
telegraph
Pillow
pytz
google-search-results
youtube-search
spotipy
ytdl-core
wget
speedtest-cli
ffmpeg-python
gitpython
python-dotenv
